// BASIC STYLING CSS FILE
@import './basic';

// VARIABLES CSS FILE
@import './variables';

// FUNCTIONS CSS FILE
@import './functions';

body {
  font-family: cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
}
